<h2>University Archives Vertical Files</h2>
<p>Vertical files are compiled on an ongoing basis by University Archives staff, and contain various materials relating to persons,   places, organizations, and topical subjects related to Penn State history.</p>
<hr />
<h3>Photographic Vertical Files</h3>
<blockquote>
  <p><a href="https://www.libraries.psu.edu/findingaids/1149.htm">Academics and Research</a><br />
    <a href="https://www.libraries.psu.edu/findingaids/1155.htm">Administration</a><br />
    <a href="https://www.libraries.psu.edu/findingaids/1161.htm">Arts</a><br />
    <a href="https://www.libraries.psu.edu/findingaids/1167.htm">Athletics</a><br />
    <a href="https://www.libraries.psu.edu/findingaids/1173.htm">Commonwealth Education System</a><br />
    <a href="https://www.libraries.psu.edu/findingaids/1179.htm">Events</a><br />
    <a href="https://www.libraries.psu.edu/findingaids/1184.htm">Physical Plant</a><br />
    <a href="https://www.libraries.psu.edu/findingaids/1190.htm">Students</a><br />
    <a href="https://www.libraries.psu.edu/findingaids/1196.htm">Town and Environs</a><br />
    <a href="https://www.libraries.psu.edu/findingaids/1201.htm">Transportation and Communication</a><br />
    <a href="https://www.libraries.psu.edu/findingaids/1206.htm">Presidents</a><br />
  <a href="https://www.libraries.psu.edu/findingaids/1212.htm">Portraits</a></p>
</blockquote>
<h3>General Vertical Files</h3>
<blockquote>
  <p><a href="https://www.libraries.psu.edu/findingaids/381.htm">Academics and Research</a><br />
    <a href="https://www.libraries.psu.edu/findingaids/382.htm">Administration </a><br />
    <a href="https://www.libraries.psu.edu/findingaids/383.htm">Athletics</a><br />
    <a href="https://www.libraries.psu.edu/findingaids/384.htm">Commonwealth Education System</a><br />
    <a href="https://www.libraries.psu.edu/findingaids/385.htm">Events</a><br />
    <a href="https://www.libraries.psu.edu/findingaids/386.htm">Faculty and Staff</a><br />
    <a href="https://www.libraries.psu.edu/findingaids/387.htm">Physical Plant</a><br />
    <a href="https://www.libraries.psu.edu/findingaids/388.htm">Research</a><br />
    <a href="https://www.libraries.psu.edu/findingaids/389.htm">Students</a><br />
    <a href="https://www.libraries.psu.edu/findingaids/390.htm">Town and Environs</a><br />
  <a href="https://www.libraries.psu.edu/findingaids/391.htm">Transportation and Communication</a></p>
</blockquote>
  <h3>Other Vertical Files</h3>
  <blockquote><p><a href="https://www.libraries.psu.edu/findingaids/3.htm">Biographical vertical files</a><br /></p></blockquote>
<p>&nbsp;</p>
