<h2>University Archives Vertical Files</h2>
<p>The University Archives’ vertical files were begun in the early 1940s by the librarians working in the Penn State Room (which later became the University Archives). The librarians utilized a system created by the public relations office to manage news reports about the University – a clippings service. The clippings had to relate directly to Penn State in some manner and were extracted from local, national and international news and magazine sources as necessary. The clippings were divided into categories (delineated below) and filed in vertical file cabinets (hence their name). Over the years, the vertical files grew to include all manner of publications: flyers, newsletters, brochures, journal articles, and single item manuscripts. These resources provide ready reference about Penn State.</p>
<p>General and Biographical vertical files have continued to grow over the years, as documents were shared by public Information offices across campus as well as from individual donors. Photographic vertical files were specifically compiled from archival transfers of photographs from the Office of Public Information, the <i>Daily Collegian</i>, the <i>LaVie</i> yearbook, research publications, individual colleges and departments, and staff photographers. University Archives personnel were also engaged in actively expanding vertical files up until 2019 when additions to vertical files ceased altogether.</p>
<p>The vertical files do not always provide comprehensive coverage of their topics, and vary in their quantity and depth of information.</p>
<hr />
<h3>General Vertical Files</h3>
<p>The GVFs document Penn State departments, events, buildings, and activities through a series of sub-groups such as Physical Plant, Student Activities, Administration, Athletics, etc. The folders contain press clippings, flyers, newsletters, reports, and single item documentation for ready access.</p>
<blockquote>
  <p>
    <a href="https://aspace.libraries.psu.edu/repositories/3/resources/2340">Academics and Research</a><br />
    <a href="https://aspace.libraries.psu.edu/repositories/3/resources/520">Administration </a><br />
    <a href="https://aspace.libraries.psu.edu/repositories/3/resources/1792">Athletics</a><br />
    <a href="https://aspace.libraries.psu.edu/repositories/3/resources/4260">Commonwealth Education System</a><br />
    <a href="https://aspace.libraries.psu.edu/repositories/3/resources/3431">Events</a><br />
    <a href="https://aspace.libraries.psu.edu/repositories/3/resources/1319">Faculty and Staff</a><br />
    <a href="https://aspace.libraries.psu.edu/repositories/3/resources/525">Physical Plant</a><br />
    <a href="https://aspace.libraries.psu.edu/repositories/3/resources/2799">Research</a><br />
    <a href="https://aspace.libraries.psu.edu/repositories/3/resources/3994">Students</a><br />
    <a href="https://aspace.libraries.psu.edu/repositories/3/resources/2232">Town and Environs</a><br />
    <a href="https://aspace.libraries.psu.edu/repositories/3/resources/2782">Transportation and Communication</a>
  </p>
</blockquote>
<h3>Photographic Vertical Files</h3>
<p>The PVFs contain over 500,000 individual images, including negatives and prints. Copyright and access use permissions for the photos in PVFs are, with very minor exceptions, held by the University. A sub-group of PVFs was created for individual portraits. The Portrait vertical files contain photos of faculty, administrators, alumni and famous visitors.</p>
<blockquote>
  <p>
    <a href="https://aspace.libraries.psu.edu/repositories/3/resources/4336">Academics and Research</a><br />
    <a href="https://aspace.libraries.psu.edu/repositories/3/resources/10789">Administration</a><br />
    <a href="https://aspace.libraries.psu.edu/repositories/3/resources/10790">Arts</a><br />
    <a href="https://aspace.libraries.psu.edu/repositories/3/resources/2442">Athletics</a><br />
    <a href="https://aspace.libraries.psu.edu/repositories/3/resources/10788">Commonwealth Education System</a><br />
    <a href="https://aspace.libraries.psu.edu/repositories/3/resources/10791">Events</a><br />
    <a href="https://aspace.libraries.psu.edu/repositories/3/resources/530">Physical Plant</a><br />
    <a href="https://aspace.libraries.psu.edu/repositories/3/resources/1389">Students</a><br />
    <a href="https://aspace.libraries.psu.edu/repositories/3/resources/3436">Town and Environs</a><br />
    <a href="https://aspace.libraries.psu.edu/repositories/3/resources/10828">Transportation and Communication</a><br />
    <a href="https://aspace.libraries.psu.edu/repositories/3/resources/10829">Presidents</a><br />
    <a href="https://aspace.libraries.psu.edu/repositories/3/resources/3440">Portraits</a>
  </p>
</blockquote>
<h3>Biographical Vertical Files</h3>
<p>The BVFs contain information about Penn State faculty, administrators, famous alumni and renowned visitors. These files contain news clippings, journal articles, curriculum vitae, and individual notices of publications and honors.</p>
<blockquote>
  <p><a href="https://aspace.libraries.psu.edu/repositories/3/resources/2246">Biographical Vertical Files</a></p>
</blockquote>
<h3>Related Resources</h3>
<p>Efforts have been undertaken to digitize and make available via websites selections from the PVFs:</p>
<ul>
  <li><a href="https://libraries.psu.edu/about/collections/penn-state-university-park-campus-history-collection">University Park Campus History Collection</a></li>
  <li><a href="https://libraries.psu.edu/about/collections/penn-state-libraries-photo-archive">University Archives Photographic Collection</a></li>
</ul>
<p>Many of the clippings in GVFs and BVFs come from publications that are held by the University Libraries (including University Archives), and in some cases may be available online.</p>
<ul>
  <li><a href="https://libraries.psu.edu/about/collections/la-vie-online"><i>La Vie</i> Online</a></li>
  <li><a href="https://libraries.psu.edu/about/collections/digital-newspapers/daily-collegian-historical">Daily Collegian</a></li>
  <li><a href="https://catalog.libraries.psu.edu/catalog/958466">Town and Gown</a></li>
  <li><a href="https://catalog.libraries.psu.edu/catalog/76395">Penn Stater</a></li>
  <li><a href="https://catalog.libraries.psu.edu/catalog/1949672">On campus: a newsletter for students, faculty, and staff of Penn State</a></li>
  <li><a href="https://catalog.libraries.psu.edu/catalog/81154">News, Pennsylvania State University Department of Public Information (PI News)</a></li>
  <li><a href="https://catalog.libraries.psu.edu/catalog/76360">Penn State sports information</a></li>
  <li><a href="https://catalog.libraries.psu.edu/catalog/76211">Penn State intercom</a></li>
  <li><a href="https://catalog.libraries.psu.edu/catalog/1408618">Faculty Bulletin/The Pennsylvania State College</a></li>
  <li><a href="https://catalog.libraries.psu.edu/catalog/1408644">Faculty Bulletin/The Pennsylvania State University</a></li>
  <li><a href="https://catalog.libraries.psu.edu/catalog/1414142">Free Lance</a></li>
  <li><a href="https://catalog.libraries.psu.edu/catalog/2012245">Penn State alumni news</a></li>
  <li><a href="https://catalog.libraries.psu.edu/catalog/945800">State College, the magazine</a></li>
  <li><a href="https://libraries.psu.edu/about/collections/centre-daily-times-obituaries-index">Center Daily Times Obituaries Index</a></li>
</ul>
